#hero{
  &:before, &:after{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    background: $dark;
    opacity: .1;
  }
  &:before{
    left: 90px;
  }
  &:after{
    right:90px
  }
}

.right-box{
    &::before{
      content: "";
      left: 0;
      top: 0;
      width: 200px;
      height: 100vh;
      position: absolute;

      background: linear-gradient(90deg, $light, transparent);
      z-index: 10;
    }
}