@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-size: 1.0rem;
  scroll-behavior: smooth;
}

.container-root{
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.anim_underline{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;

    width:20px;
    height: 2px;
    background: #fafafa;
    transition: width 0.5s ease-in-out;
  }
  &:hover::before{
    width: 100%;
  }
}
